.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  transition-timing-function: ease-out;
  transition: all 0.6s;
}
.nav_black {
  background-color: black;
  height: 65px;
}

.btn {
  float: right;
  height: 30px;
  margin: 8px 0px;
  padding: 14px 5px;
  padding-right: 20px;
 cursor: pointer;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}

.btn:hover {
  transition: all 0.35s;

  border-radius: 4px;
  color: rgb(217, 18, 18);
}
.left {
  margin-left: 21px;
}
.btnl {
  float: left;
  height: 30px;
  margin: 8px 0px;
  padding: 14px 10px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}
.btnl:hover {
  transition: all 0.35s;

  border-radius: 4px;
  color: rgb(217, 18, 18);
}
.hamburger{
  display: none;
}
/* @media(max-width:1100px){
  
   .btn,.left{
     display :none;
   }
   .hamburger{
     font-size: 2.5 rem;
     background-color: white;
     
   }
  
  .nav_black{
    display: none;
  }
   } */


