.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  transition-timing-function: ease-out;
  transition: all 0.6s;
}
.nav_black {
  background-color: black;
  height: 65px;
}

.btn {
  float: right;
  height: 30px;
  margin: 8px 0px;
  padding: 14px 5px;
  padding-right: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}

.btn:hover {
  transition: all 0.35s;

  border-radius: 4px;
  color: rgb(217, 18, 18);
}

.btnl {
  float: left;
  margin: 5px 0px;
  cursor: pointer;
  background: transparent;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 11px;
  display: flex;
  padding: 8px 0px;
  text-decoration: none;
}
.btnl li {
  font-size: 2rem;
}

.nav {
  float: left;
  display: flex;
  padding: 8px;
}
.btnl:hover {
  transition: all 0.35s;
  border-radius: 4px;
  color: rgb(217, 18, 18);
}
.hamburger {
  display: none;
  cursor: pointer;
}
.menu {
  color: white;
  float: left;
  cursor: pointer;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 9px;
  display: flex;
  padding: 12px 0px;
  text-decoration: none;
  list-style: none;
}

.menu li {
  padding-left: 8px;
  text-decoration: none;
}
.menu li:hover {
  color: rgb(217, 18, 18);
  transition: all 0.35s;
}

@media (max-width: 500px) {
  .btn {
    display: none;
  }
  .hamburger {
    display: flex;
    align-items: center;
    cursor: pointer;
    float: left;
    height: 30px;
    margin: 8.5px 0px;
    padding-right: 20px;
    background: transparent;
    color: white;
    padding-left: 9px;
    font-size: 1.4rem;
  }
  .menu {
    font-size: 0;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .name {
    margin: 1px;
    padding-bottom: 1px;
    font-size: 1.3rem;
  }
}
