
.row {
  margin-left: 15px;
  color: whitesmoke;
}
.row_title {
  margin-top: 9px;
  font-weight: 700;
  color: whitesmoke;
  font-size: 1.2rem;
}
.poster {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.poster::-webkit-scrollbar {
  display: none;
}

.img {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  transition: transform 500ms;
  margin-right: 10px;
}

.img:hover {
  transform: scale(1.2);
  border: 2px solid #F5F5F5;
  
}
.largeimg {
  max-height: 250px;
}
.largeimg:hover {
  transform: scale(1.1);
  opacity: 1;
  
}
@media (max-width: 450px) {
  .img {
    width: 146px;
    height: 282px;

    margin-right: 4px;
  }
  .poster {
    padding: 2px;
  }
  .row_title {
    font-size: 1rem;
  }
}
